*{
    margin: 0;
    border:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
  height:50px;
    width:100px;
}
.nav-address{
    display:flex;
}
.logo{
    height:50px;
    width:100%;
    background-size: cover;
    background-image: url("amazon_logo.png" );
}
.border{
    border:2px solid transparent;
} 
.border:hover{
    border:2px solid white;
}
.add-f{
    color:#cccccc;
    font-size: 0.95rem;
    margin-left: 18px;
    display:flex;

}
.add-s{
    font-size: 1rem;
    margin-left: 8px;

}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content:space-evenly ;
    background-color: rgb(182, 81, 126);
    width : 620px;
    height : 40px;
    border-radius: 4px;
} 
.nav-search :hover
{
    border:2px solid rgb(225, 176, 13);  ;
}
.all{
    background-color: #f3f3f3;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width:50px;
    text-align: center;
    border: none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none ;
}
.search-icon
{
    width:55px;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(225, 176, 13);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}
.nav-location{
    display:flex;
}
.Sloc{
    background-color: #0f1111;
    color: white;
     width:50px;
    text-align: center;
    border: none;
}
.hello{
    font-size: 12px;
}
.acc{
    background-color: #0f1111;
    color: white;
    font-size: 0.9rem;
    border:none ;
   text-align: center;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart {
    display: flex;
    align-items: end;
    font-size: 0.85rem;
    font-weight:700;
}
.panel{
    height:40px;
    background-color:#222f3d;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;  
}
.panel-options p{
    display: inline;
    margin-left:25px;
}
.panel-all
{
    font-size: 0.85rem;
    align-items: end;
}
.panel-options{
    width :70%;
    font-size: 0.85rem;
    align-items: center;
    justify-content: space-evenly;  
}
.hero-section{
    background-image:url("hero_image.jpg");
    height:350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-section-content{
    background-color: white;
    height:40px;
    display: flex ;
    align-items: center;
    justify-content: center;
    font-size:0.85rem;
    width:80%;
    margin-bottom:20px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    background-color:#e2e7e6;
}
.box{ 
    height : 400px;
    width: 23%;
    background-color:white; 
    padding:20px 0px 15px  ; 
    margin-top:15px;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.box1-image{
    background-image: url("box1_image.jpg");
    height:300px; 
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom:1rem;
} 
.box2-image{
    background-image: url("box2_image.jpg");
    height:300px; 
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom:1rem;
} 
.box3-image{
    background-image: url("box3_image.jpg");
    height:300px; 
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom:1rem;
} 
.box4-image{
    background-image: url("box4_image.jpg");
    height:300px; 
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom:1rem;
}

.box5-image{
    background-image: url("box5_image.jpg");
    height:300px; 
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom:1rem;
} 
.box6-image{
    background-image: url("box6_image.jpg");
    height:300px; 
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom:1rem;
} 
.box7-image{
    background-image: url("box7_image.jpg");
    height:300px; 
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom:1rem;
} 
.box8-image{
    background-image: url("box8_image.jpg");
    height:300px; 
    background-size: cover ;
    margin-top: 1rem;
    margin-bottom:1rem;
}  
.footer{
    margin-top:15px;
}
.footpanel1{
    background-color :#37475a;
    color: white;
    height:50px;
    display: flex ;
    align-items: center;
    justify-content: center;
    font-size:0.85rem;
    width:80%;
    margin-bottom:20px;
}
.footpanel2{
    background-color: #222f3d;
    color: white;
    height:300px;
    display: flex ;
    justify-content:space-evenly;
}
ul{
    margin: 20px;;
}
ul a {
    display: block;
    font-family: 0.85rem;
    margin-top:10px;
    color:#dddddd;
}
.footpanel3{
    background-color: #222f3d;
    color: white; 
    height:70px;
    border-top: 0.5px solid white;
    display: flex ;
    align-items: center;
    justify-content: center;
}
.logo{
    height:50px;
    width:100px;
    background-size: cover;
    background-image: url("amazon_logo.png" );
}